# linux/internxt_drive.desktop
[Desktop Entry]
Name=CrispCloud
Comment=Secure cloud storage
Exec=crisp_cloud %U
Icon=crisp_cloud
Terminal=false
Type=Application
Categories=Network;FileTransfer;
MimeType=x-scheme-handler/crispcloud;
